body{
    background-color: cornsilk;
  
}
h1{
    
    text-align:left;
    color:darkblue;
    font-size: 30px;
    font-weight: bold;
}
h2{
    
    text-align:left;
    color:darkblue;
    font-size: 30px;
    font-weight: bold;
}
p{
    
    text-align:left;
    color:darkblue;
    font-size: 20px;
    
}